.header {
	display: grid;
	grid-template-columns: 85px auto;
	color: var(--black);
	align-items: center;
	padding: 10px 10px;
}

.inside--logo {
	position: absolute;
    top: 34px;
    left: 57px;
}

.rotating-logo  {
	border: 3px dashed var(--lightred);
    border-radius: 50%;
    line-height: 50px;
    width: 50px;
    height: 50px;
    padding: 5px;
    text-align: center;
}


@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.rotating {
	-webkit-animation: rotating 3s linear infinite;
}

.header--menu {
	justify-self: end;
	color: var(--lightred);
}

.header--menu:hover {
	color: var(--grey);
	transition: all 0.5s ease 0s;
	cursor: pointer;
}

.header--menu i {
	font-size: 35px;
}
.header--links {
	justify-self: end;
}

.header--links li {
	list-style-type: none;
	display: inline;
	margin-left: 10px;
}

.header--links a {
	color: var(--lightred);
	font-size: 16px;
}

.header--links a:hover {
	color: var(--black);
	font-size: 18px;
}


@media (min-width: 320px) and (max-width: 968px) {
	.inside--logo {
		position: absolute;
	    top: 34px;
	    left: 33px;
	}
}

@media (min-width: 320px) and (max-width: 480px) {
	.header--links {
		display: none;
	}
}

