.header {
	display: grid;
	grid-template-columns: 45px auto;
	color: var(--black);
	align-items: center;
	padding: 0 10px;
}

.header--initials  {
	border: 3px dotted var(--lightred);
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    width: 50px;
    height: 50px;
    padding: 5px;
    margin-top: 5px;
}

.header--links {
	justify-self: end;
}

.header--mobile {
	justify-self: end;
	padding: 5px;
	visibility: hidden;
	color: var(--grey);
}

.header--mobile i {
	font-size: 35px;
}

.header--mobile:hover {
	color: var(--lightred);
	transition: all 0.3s ease 0s;
}


.header--links li {
	list-style-type: none;
	display: inline;
	margin-left: 10px;
}

.header--links a {
	color: var(--lightred);
	font-size: 16px;
}

.header--links a:hover {
	color: var(--black);
	font-size: 18px;
}


@media (min-width: 320px) and (max-width: 480px) {
	/* .header--links {
		display: none;
	}

	.header--mobile {
		visibility: visible;
	} */

	.header--links {
		justify-self: center;
	}
}

