:root {
  --yellow: #ffc600;
  --black:  #272727;
  --lightred: #f44336;
  --grey: #e0e0e0;
  --white: #fafafa;
}

a {
	text-decoration: none;
}
body {
  margin: 0;
  padding: 5px 20px;
	font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

.main {
	display: grid;
	grid-gap: 40px;
}

.content {
	padding: 0 25px;
}