:root {
  --yellow: #ffc600;
  --black:  #272727;
  --lightred: #f44336;
  --grey: #bdbdbd;
  --white: #fafafa;
  --brown: #795548;
}

a {
	text-decoration: none;
}
body {
  	margin: 0;
  	padding: 5px 30px;
	font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

.main-grid {
	display: grid;

}

.content {
	padding: 0 250px;
  margin-top: 10px;
}

.red-heart {
	color: var(--lightred);
}

.grey-heart {
	color: var(--grey);
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 60px;
  top: 36px;
  display: none;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: var(--lightred);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  padding: 1em;
  height: 0 !important;
}

.bm-item-list a {
	padding: 5px;
	color: var(--white);
	cursor: pointer;
}

.bm-item-list i {
	margin-right: 10px;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  margin-left: -30px;
}

@media (min-width: 320px) and (max-width: 968px) {
	body {
		padding: 5px 5px;
	}
	.content {
  		padding: 0 30px;
  	}
}