.portfolio {
	justify-items: center;
	display: grid;
	grid-template-rows: min-content 1fr;
	grid-gap: 15px;
}

.portfolio__header {
	border-bottom: solid 2.5px var(--lightred);
	line-height: 45px;
}

.portfolio__content {
	display: grid;
	grid-template-rows: min-content 1fr;
	grid-gap: 20px;
	align-items: center;
	justify-items: center;
}

.portfolio__item {
}

.portfolio__img {
	/* width: 100%; */
	/* display: block; */
	display: block;
	max-width: 100%;
	height: auto;
	-webkit-box-shadow: 0px 2px 13px 6px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 2px 13px 6px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 13px 6px rgba(0, 0, 0, 0.3);
}

.portfolion__info {
	padding: 10px;
}

.portfolio__info h3 {
	text-align: center;
}

.link-container a {
	color: var(--lightred);
	margin-right: 10px;
}

.portfolio__text {
	line-height: 25px;
	font-size: 16px;
}

@media only screen and (min-width: 1200px) {
	.portfolio__img {
		height: 400px;
	}
}
