.skills {
	display: grid;
	grid-gap: 10px;
}

.skills--toggle {
}

.skills--toggle button {
	padding: 10px 20px;
	cursor: pointer;
}

.skills--list {
	display: grid;
	grid-gap: 15px;
	grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
	justify-content: center;
}

.rules li {
	list-style-type: none;
}

.rules p {
	font-size: 12px;
}

@media (min-width: 320px) and (max-width: 480px) {
	.skills--list {
		grid-gap: 10px;
		grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
	}
}
