.tab {
	padding: 5px;
}

.tab:hover {
	background: var(--lightred);
	color: var(--white);
	transition: all 0.5s ease 0s;
}

.tab b {
	font-weight: bold;
}

.tab p {
	font-size: 12px;
}

.tab i {
	margin-left: 5px;
	font-size: 14px;
}

@media (min-width: 320px) and (max-width: 480px) {
}
