i {
	font-size: 20px;
	margin-right: 5px;
}

.social {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
	grid-gap: 15px;
	justify-items: center;
}

.social a {
	color: var(--black);
	font-size: 16px;
	padding: 10px;
}


.social a:hover{
	background: var(--lightred);
	color: var(--white);
	transition: all 0.5s ease 0s;
}

@media (min-width: 320px) and (max-width: 480px) {
	.social {
		justify-items: start;
		grid-gap: 10px;
		grid-row-gap: 25px;
	}

	i {
		font-size: 24px;
	}
}